/node_modules
/public/hot
/public/storage
/public/assets/*
/public/js/*
/public/css/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*
.idea/*
.idea
.vscode
/.vscode
/public/querylog.txt
_ide_helper.php
_ide_helper_models.php
querylog.txt
resources/views/manager_wifi/*
log.txt
yarn.lock
composer.lock
package-lock.json
/public/redactor/*
.DS_Store
/public/vendor/*
