.organization-wrap{
  display: flex;
  flex-direction: column;
}
.level-row{
  display: flex;
  justify-content: center;
}
.org{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.the-box{
  padding: 10px;
  border: solid 1px #efeeee;
  margin-left: 0;
}