// 后台管理系统----- 工作流程管理
#pipeline-flows-manager-app {
  .manger-card-header {
    padding: 10px 24px;
    .card-header-top {
      display: flex;
      span {
        flex: 1;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
      }
      .el-divider--vertical {
        height: 1.5em !important;
      }
    }
    .el-divider--horizontal {
      margin: 5px !important;
    }
  }
  .card-body-approver {
    width: 85%;
    height: 120px;
    color: #fff;
    margin: 0 auto;
    img {
      width: 30px;
      height: 30px;
      padding-left: 10px;
    }
    .el-input {
      border: none;
    }
  }
  .el-divider--vertical {
    height: 10em;
    margin: 0;
    left: 50%;
    top: -15px;
  }
}
