// 教师管理PC端
.blade_title {
    font-size: 30px;
    color: #777f8d;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.status_red {
    color: #FD1B1B;
}

.status_green {
    color: #6DCC58;
}

.status_yellow {
    color: #FE7B1C;
}

.status_gray {
    color: #ABABAB;
}

.status_black {
    //color: black;
}

// 助手首页
#teacher-assistant-index-app {
    .card {
        width: fit-content;
    }
    .card-body {
        padding-top: 20px;
    }
    .banner-item {
        float: left;
        width: 70px;
        margin: 0 62px;
        text-align: center;
        font-size: 16px;
    }
    .banner-item dt {
        margin-bottom: 12px;
    }
    .banner-item dd {
        margin-bottom: 12px;
        a {
            color: black;
        }
    }
    .bunner-line {
        float: left;
        height: 100px;
        width: 1px;
        border: none;
        border-right: 1px solid #EAEDF2;
    }
    .banner-item img {
        width: 70px;
        height: 70px;
    }
    .bottom-card {
        width: 728px;
        height: 445px;
        .card-head {
            height: 50px;
            line-height: 50px;
            padding: 0;
            border-bottom: 1px solid #EAEDF2;
            width: 100%;
        }
    }
    .el-tabs__item {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
    .bottom-search {
        width: 100%;
        padding: 0 24px;
        .el-button {
            width: 84px;
            height: 40px;
            border-tadus: 3px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            font-size: 14px;
        }
        .el-input {
            width: calc(100% - 84px);
            margin-right: 0;
            input {
                border-tadus: 3px;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
    .bottom-table {
        padding: 0 24px;
        font-size: 14px;
        .blade_listImage {
            width: 28px;
            height: 28px;
        }
        .el-table--striped .el-table__body tr.el-table__row--striped td {
            background: #F5F6FF;
        }
        .icon-image {
            width: 34px;
            height: 24px;
        }

    }
    .bottom-List {
        list-style: none;
        margin-top: 20px;
        padding: 0 24px;
        li {
            line-height: 64px;
            font-size: 16px;
            span {
                display: inline-block;
            }
            .blade_listImage {
                width: 28px;
                height: 28px;
                margin-right: 14px;
            }
            .blade_listState {
                display: inline-block;
                width: 40px;
                margin-right: 20px;
            }
            .blade_listUser {
                width: 160px;
                text-align: center;
                color: #99A0AD;
                margin-right: 20px;
            }
            .blade_listDate {
                width: 200px;
                color: #D5D7E0;
                margin-right: 20px;
                text-align: center;
            }
        }
        li:nth-child(2n) {
            background: #F5F6FF;
        }
    }
}

// 签到/评分/班级评分/学生管理
#teacher-assistant-check-in-app,
#teacher-assistant-evaluation-app,
#teacher-assistant-grades-evaluations-app,
#teacher-assistant-students-manager-app,
#teacher-assistant-grades-check-in-app{
    .card {
        min-height: 700px;
    }

    .card-head {
        border-bottom: none;
    }

    .card-body {
        padding: 0;
    }

    .showDetail {
        float: right;
        margin-right: 20px;
    }

    .showDetail img {
        width: 34px;
        height: 24px;
    }

    .full-width {
        padding: 0 20px;
        line-height: 50px;
        height: 50px;
    }

    .el-select input {
        width: 100px;
        border: none;
    }

    .search_filter {
        float: right;
    }

    .el-tree-node__content {
        padding-left: 0 !important;
        display: block !important;
    }

    .el-tree-node__expand-icon {
        float: right;
        margin-top: 15px;
        margin-right: 15px;
    }

    .el-tree-node {
        text-indent: 20px;
        border-top: 1px solid #EAEDF2;
    }

    .el-tree-node__content {
        min-height: 55px;
        line-height: 55px;
        background: white;
    }

    .el-tree-node__children {
        margin: 2px 10px;
        width: calc(100% - 20px);
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        .el-tree-node__expand-icon {
            display: none;
        }

        .el-tree-node {

        }

        .el-tree-node__content {
            min-height: 49px;
            line-height: 49px;
            background: #EEEFF8;
        }
    }

    .el-icon-arrow-right:before {
        margin-left: -15px !important;
    }

    .el-table td,
    .el-table th {
        padding: 0;
        height: 55px;
        line-height: 55px;
        text-align: center;
        font-size: 16px;
    }

    .el-table th {
        color: black;
        font-wight: bold;
    }

    .el-table {
        border-top: 1px solid #EAEDF2;
    }

    .eva_note {
        margin-top: 10px;
        min-height: 70px;
        border-bottom: 1px solid #CCCCCC;
        line-height: 20px;
        padding: 0 20px;
        .eva_noteTitle {
            color: #8A93A1;
            margin-top: 5px;
        }
        .eva_noteText {
            margin-top: 5px;
        }

    }

}

#teacher-assistant-check-in-app {

    .el-table__row td:nth-child(2) {
        color: #6DCC58;
    }

    .el-table__row td:nth-child(3) {
        color: #FE7B1C;
    }

    .el-table__row td:nth-child(4) {
        color: #FD1B1B;
    }

}

#teacher-assistant-grades-evaluations-app,
#teacher-assistant-students-manager-app {
    .el-tree-node__expand-icon {
        display: none;
    }
    .el-table td {
        text-align: left;
        color: black;
    }
    .evaluations_table2 {
        .el-table td:nth-child(2) {
            text-align: right;
            padding-right: 20px;
        }
    }
}

#teacher-assistant-students-manager-app {
    .stu-table3 td:nth-child(1) {
        color: #777f8d;
    }
    .stu-table3 td:nth-child(2) {
        text-align: right;
    }
    .stu-edit {
        width: 140px;
        height: 38px;
        background: #FE7C1A;
        color: #FFF;
    }
    .el-dialog {
        margin: 0;
        margin-top: 120px;
        margin-left: calc(100% - 800px);
    }
    .el-dialog__title {
        font-weight: bold;
    }
    .el-dialog__body {
        padding: 0;
        .el-form-item{
            font-size: 14px;
            margin-bottom: 0;
            padding: 5px 25px;
            border-bottom: 1px solid #ccc;
            color: #475B6D;
            label {
                margin-bottom: 0;
                text-align: left;
                color: #B1B7C0;
            }
        }
        .can-edit {
            color: #B1B7C0;
            border: none;
            label {
                width: 130px !important;
                color: #475B6D
            }
            .el-form-item__content {
                margin-left: 130px !important;
                padding-right: 40px;
            }
        }
    }


    .dialog-footer {
        text-align: center;
        padding: 20px;
    }
}




