.school-intro-container {
  background-color: #f6f6f6;
  .main {
    .information {
      margin-bottom: 10px;
      background-color: #fff;
      h3 {
        padding: 10px 10px 0;
      }
      h5 {
        font-weight: 100;
        line-height: 0;
        padding: 0 15px;
        margin: 0;
        display: flex;
        p:first-child {
          flex: 1;
        }
        p:nth-child(2) {
          flex: 3;
          text-align: right;
        }
      }
      .reason {
        font-size: 14px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        padding: 0 15px;
      }
      .el-divider--horizontal {
        margin: 0;
      }
      .imageBox {
        padding: 0 15px;
        .image {
          width: 100px;
          height: 100px;
        }
      }
      .sendBox {
        figure {
          img {
            border-radius: 50%;
          }
          p {
            font-size: 14px;
            line-height: 0;
          }
        }
      }
    }
  }
}
