.school-intro-container {
  background-color: #f6f6f6;
  .main {
    .information {
      background-color: #fff;
      h3 {
        margin-top: 10px;
        padding: 10px 10px 0;
        display: flex;
        justify-content: space-between;
      }
      h5 {
        font-weight: 100;
        line-height: 0;
        padding: 0 15px;
        margin: 0;
        display: flex;
        p:first-child {
          flex: 1;
          color: #6f7275;
        }
        p:nth-child(2) {
          flex: 2;
          color: #333333;
          text-align: right;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
        }
      }
      .reason {
        font-size: 14px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        padding: 0 15px 10px;
      }
      .el-divider--horizontal {
        margin: 0;
      }
      .imageBox {
        padding: 0 15px;
        .image {
          width: 100px;
          height: 100px;
        }
      }
      .sendBox {
        display: flex;
        padding-bottom: 10px;
        figure {
          width: 50px;
          margin: 0;
          padding: 0 10px;
          img {
            border-radius: 50%;
          }
          p {
            font-size: 14px;
            text-align: center;
            line-height: 0;
          }
        }
      }
      .el-timeline-item {
        padding-bottom: 10px;
      }
    }
    .el-dialog__header {
      padding: 10px;
      background-color: #409eff;
      .el-dialog__title {
        color: #fff;
      }
      .el-dialog__headerbtn {
        top: 15px;
        .el-dialog__close {
          color: #fff;
        }
      }
    }
    .el-dialog__body {
      padding: 0 20px;
      margin-top: 15px;
    }
  }
}
[v-cloak] {
  display: none;
}
