@import "basic";

@import "student_registration_app";

// Pipeline
.pipeline-user-flow-box{
  margin-bottom: 15px;
  cursor: pointer;
}
.user-view-flow-history-steps{
  ul{
    padding-left:0;
  }
}
// Pipeline end

// 课程表
.tools-wrap{
  list-style: none;
  .tool-item{
    p{
      a{
        color: #0c0c0c;
        text-decoration: none;
      }
    }
  }
}
.the-avatar-big{
  border-radius: 50%;
  width: 80px;
}
.lesson-summary{

}
.rate-box{
  text-align: center;
}
// 课程表 结束


.showMoreButton{
  background:-webkit-linear-gradient(to right, #66D9FF, #4EA5FE) !important;
  background:linear-gradient(to right,#66D9FF,#4EA5FE) !important;
  border: none !important;
  padding: 8px 60px !important;
}

.el-form-item__label{
  text-align: left !important;
  font-size: 13px !important;
}
.el-input--mini .el-input__inner{
  border:none !important;
  text-align: right !important;
}
.el-form-item{
  margin-bottom: 0 !important;
  border-bottom: solid 1px $borderColor;
}
.no-border-bottom{
  border-bottom: none;
}
.el-drawer.ltr, .el-drawer.rtl, .el-drawer__container {
  overflow: scroll;
}
.for-mobile-alert{
  max-width: 360px !important;
}

.el-form-item__error{
  z-index: 199;
}

#pipeline-flow-open-app {
    .van-cell {
        padding: 8px 16px;
    }
    .el-timeline {
        background: white;
        padding: 20px;
    }
    .fromItem {
        margin-bottom: 5px;
    }
    .van-checkbox {
        margin-bottom: 5px;
    }
}
