#teacher-assistant-index-app {
    .teacher_assistant_card {
      height: 150px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
      .teacher_assistant_card_each {
        height: 86px;
        padding-right: 60px;
        border-right: 1px solid #eaedf2;
        .teacher_assistant_card_img {
          width: 70px;
          height: 70px;
          border: 1px solid red;
          display: inline-block;
        }
        p {
          font-size: 20px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(65, 74, 90, 1);
          line-height: 28px;
          text-align: center;
        }
      }
      .teacher_assistant_card_each:last-child {
        border: none;
      }
    }
    .teacher_assistant_approval {
      font-size: 30px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(119, 127, 141, 1);
      padding: 20px 0;
    }
    .teacher_assistant_approval_content {
      display: flex;
      justify-content: space-between;
      .teacher_assistant_approval_content_left {
        width: 455px;
        height: 445px;
        background: rgba(255, 255, 255, 1);
        border-radius: 4px;
      }
      .teacher_assistant_approval_content_right {
        width: 940px;
        height: 445px;
        background: rgba(255, 255, 255, 1);
        border-radius: 4px;
        .el-tabs__nav {
          height: 50px;
          font-size: 16px;
          font-family: MicrosoftYaHei;
          color: rgba(49, 59, 76, 1);
          display: flex;
          justify-content: space-around;
          align-items: center;
          cursor: pointer;
          border-bottom: 1px solid #eaedf2;
        }
      }
    }
  }
  