#teacher-oa-index-app {
  .teacher_oa_card {
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    .teacher_oa_card_each {
      padding: 0 80px;
      border-right: 1px solid #eaedf2;
      .teacher_oa_card_img {
        width: 70px;
        height: 70px;
        display: inline-block;
      }
      p {
        font-size: 17px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(65, 74, 90, 1);
        line-height: 28px;
        text-align: center;
      }
    }
    .teacher_oa_card_each:last-child {
      border: none;
    }
  }
  .teacher_oa_approval {
    font-size: 30px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(119, 127, 141, 1);
    padding: 20px 0;
  }
  .teacher_oa_approval_content {
    display: flex;
    justify-content: space-between;
    .teacher_oa_approval_content_left {
      width: 455px;
      height: 445px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
    }
    .teacher_oa_approval_content_right {
      width: 940px;
      height: 445px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      .teacher_oa_approval_content_right_tabs {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #eaedf2;
        ul {
          display: flex;
          justify-content: space-around;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            font-size: 16px;
            font-family: MicrosoftYaHei;
            color: rgba(49, 59, 76, 1);
            line-height: 50px;
            transition: all 0.5s;
            cursor: pointer;
          }
        }
        .bgred {
          border-bottom: 1px solid #4ea5fe;
          color: #4ea5fe;
        }
      }
      .el-input {
        padding: 20px 44px;
        .el-input-group__append {
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: rgba(255, 255, 255, 1);
          background-color: #4ea5fe;
        }
      }
    }
  }
}
