#teacher-homepage-app {
  .el-carousel {
    width: 100%;
    .el-carousel__indicators--outside {
      position: relative;
      bottom: 25px;
      left: 0;
      .el-carousel__indicator--horizontal {
        width: 14px;
        height: 13px;
        border-radius: 50%;
        background-color: #d7d7d7;
        padding: 0;
        margin-left: 14px;
        .el-carousel__button {
          display: none;
        }
      }
    }
    .el-carousel__indicators--outside .is-active {
      width: 41px;
      height: 13px;
      background: rgba(255, 255, 255, 1);
      border-radius: 7px;
    }
    .banner_img {
      width: 100%;
      height: 100%;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .bottom_title {
      height: 50px;
      font-size: 18px;
      font-weight: bold;
      line-height: 50px;
      border-bottom: 1px solid #eaedf2;
      padding-left: 14px;
      span {
        font-size: 16px;
        font-family: MicrosoftYaHei;
        color: rgba(138, 147, 161, 1);
        line-height: 50px;
      }
    }
    .bottom_title_span {
      display: flex;
      padding-right: 14px;
      justify-content: space-between;
    }
    .bottom_first {
      flex: 1;
      height: 727px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      margin-bottom: 10px;
      .el-drawer {
        height: 100%;
        overflow-y: scroll;
        .el-drawer__header {
          height: 50px;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          font-size: 18px;
          font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
          font-weight: bold;
          color: #414a5a;
          margin-bottom: 0;
          border-bottom: 1px solid #eaedf2;
        }
        .el-drawer__body {
          .demo-drawer__content {
            margin-bottom: 20px;
            p:first-child {
              font-size: 18px;
              font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
              font-weight: bold;
              color: #414a5a;
              padding: 10px 20px 0;
            }
            p:nth-child(2) {
              font-size: 12px;
              font-family: MicrosoftYaHei;
              color: #d2d5de;
              padding: 0 20px;
            }
            img {
              width: 420px;
              height: 200px;
              margin: 20px;
              display: inline-block;
              border: 1px solid red;
              border-radius: 4px;
            }
          }
        }
      }
      .bottom_first_content {
        height: 135px;
        border-bottom: 1px solid #eaedf2;
        display: flex;
        padding: 20px 0 20px 10px;
        cursor: pointer;
        .bottom_first_content_img {
          width: 180px;
          height: 92px;
        }
        .bottom_first_content_right {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .bottom_first_content_title {
            width: 212px;
            height: 21px;
            font-size: 16px;
            font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
            font-weight: bold;
            color: rgba(49, 59, 76, 1);
            line-height: 21px;
            letter-spacing: 1px;
            padding-left: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .bottom_first_content_detail {
            padding-left: 14px;
            padding-right: 14px;
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: rgba(138, 147, 161, 1);
            letter-spacing: 1px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          .bottom_first_content_time {
            text-align: right;
            font-size: 12px;
            font-family: MicrosoftYaHei;
            color: rgba(210, 213, 222, 1);
            letter-spacing: 1px;
          }
        }
      }
    }
    .bottom_second {
      flex: 1;
      margin: 0 20px 10px;
      .bottom_second_calendar {
        height: 418px;
        background: rgba(255, 255, 255, 1);
        border-radius: 4px;
        ul {
          height: 50px;
          display: flex;
          align-items: center;
          font-size: 18px;
          li {
            flex: 1;
            text-align: center;
          }
          li:nth-child(odd) {
            cursor: pointer;
          }
        }
        table {
          width: 100%;
          height: 100%;
          > thead {
            width: 100%;
            td:nth-child(7) {
              color: #4ea5fe !important;
            }
            td:last-child {
              color: #4ea5fe !important;
            }
            > tr {
              width: 100%;
            }
          }
          > tbody {
            th {
              color: #fe7b1c !important;
              font-weight: 100 !important;
              text-align: center;
            }
            .current {
              display: inline-block;
              width: 30px;
              height: 30px;
              color: #fff;
              text-align: center;
              line-height: 30px;
              border-radius: 50%;
              background-color: #4ea5fe;
              margin-left: -5px;
            }
          }
        }
      }
      .bottom_second_plan {
        width: 100%;
        height: 300px;
        background: rgba(255, 255, 255, 1);
        border-radius: 4px;
        margin-top: 15px;
        p {
          height: 40px;
          padding: 0 20px;
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: rgba(51, 51, 51, 1);
          line-height: 40px;
          border-bottom: 1px solid #eaedf2;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          span {
            display: inline-block;
          }
          span:first-child {
            width: 90px;
          }
          span {
            width: 50px;
          }
        }
      }
      .el-drawer {
        width: 520px;
        height: 100%;
        overflow-y: scroll;
        .el-drawer__header {
          padding: 15px 20px;
          margin-bottom: 0;
          font-size: 18px;
          font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
          font-weight: bold;
          color: rgba(65, 74, 90, 1);
          border-bottom: 1px solid #eaedf2;
        }
        .el-drawer__body {
          .demo-drawer__content {
            font-size: 14px;
            font-family: MicrosoftYaHei;
            color: rgba(51, 51, 51, 1);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 17px 20px;
            border-bottom: 1px solid #eaedf2;
            span {
              display: inline-block;
            }
            span:first-child {
              width: 90px;
            }
            span:nth-child(2) {
              width: 50px;
            }
          }
        }
      }
    }
    .bottom_third {
      flex: 1;
      height: 725px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      margin-bottom: 10px;
      .attendance_content {
        .attendance_time {
          height: 43px;
          text-align: center;
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: rgba(49, 59, 76, 1);
          line-height: 43px;
          letter-spacing: 1px;
          border-bottom: 1px solid #eaedf2;
        }
        .attendance_detail {
          // background: rgba(239, 247, 255, 1);
          padding: 10px 17px;
          border-bottom: 1px solid #eaedf2;
          p {
            margin-bottom: 10px;
            span:first-child {
              font-size: 14px;
              font-family: MicrosoftYaHei;
              color: rgba(147, 155, 168, 1);
              letter-spacing: 1px;
            }
            span:last-child {
              font-size: 14px;
              font-family: MicrosoftYaHei;
              color: rgba(58, 68, 84, 1);
              letter-spacing: 1px;
            }
          }
        }
        .attendance_task {
          padding: 5px 14px;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          border-bottom: 1px solid #eaedf2;
        }
      }
    }
  }
  [v-cloak] {
    display: none;
  }
}
